In [24]:
import pandas as pd
import numpy as np
print('Import Successful')

Import Successful

__1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?__

In [25]:
names = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Cousin Oliver']
df = pd.DataFrame()
df['names'] = names
df['age'] = [14, 12, 11, 10, 8, 6, 8]
df

           names  age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    6
6  Cousin Oliver    8

In [26]:
ages = df['age']
ages
np.mean(ages)

9.857142857142858

In [27]:
np.median(ages)

10.0

In [63]:
(values, counts) = np.unique(ages, return_counts=True)
index = np.argmax(counts)
mode = values[index]
mode

1

variance, standard deviation, and standard error

In [29]:
variance = np.var(ages)
variance

6.408163265306122

In [30]:
standard_deviation = np.std(ages, ddof=1)
standard_deviation

2.734262327610589

In [31]:
standard_error = standard_deviation / np.sqrt(len(ages))
standard_error

1.0334540197243192

__2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?__

I would pick the mean and the standard deviation. There doesn't appear to be any significant differences in the mean or median and the standard deviation can be useful for describing what percent of the data falls within a certain range away from the mean.

__3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?__

In [37]:
df.loc[lambda df: df['names'] == 'Cindy', 'age'] = 7
df

           names  age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    7
6  Cousin Oliver    8

In [38]:
np.mean(new_ages)

10.0

In [39]:
np.median(new_ages)

10.0

In [40]:
(values, counts) = np.unique(new_ages, return_counts=True)
values, counts
index = np.argmax(counts)
values[index]

8

In [41]:
np.var(new_ages)

5.428571428571429

In [42]:
np.std(new_ages, ddof=1)

2.516611478423583

In [43]:
np.std(new_ages, ddof=1) / np.sqrt(len(new_ages))

0.9511897312113418

The mean increased slightly and all of the values of variance decreased.

__4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?__

In [56]:
#new_df = df[lambda df: df['names'] != 'Cousin Oliver']
df.loc[df['names'] == 'Cousin Oliver'] = 'Jessica'
df.loc[df['names'] == 'Jessica', 'age'] = 1
df

     names age
0     Greg  14
1   Marcia  12
2    Peter  11
3      Jan  10
4    Bobby   8
5    Cindy   7
6  Jessica   1

In [59]:
ages = df['age']
np.mean(ages)

9.0

In [60]:
np.median(ages)

10.0

In [69]:
(values, counts) = np.unique(ages, return_counts=True)
values, counts
mode_dict = {}
final_value = []
for number in values:
    if number not in mode_dict:
        mode_dict[number] = 1
    else:
        mode_dict[number] += 1
largest_number = max(list(mode_dict.values()))
for key in mode_dict:
    if mode_dict[key] == largest_number:
        final_value.append(mode_dict[key])
if len(final_value) == len(mode_dict):
    print('There is no mode!')
else:
    print(final_value)

There is no mode!

In [70]:
np.var(ages)

15.428571428571429

In [71]:
np.std(ages, ddof=1)

4.242640687119285

In [72]:
np.std(ages, ddof=1) / np.sqrt(len(ages))

1.6035674514745462

With such a great increase in the variability in the data, I would change my measure of central tendency from mean to mode. I would probably still use my standard deviation.

__5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans__

__Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?__

In [74]:
fan_percent = [20, 23, 17, 5]
np.mean(fan_percent), np.median(fan_percent)

(16.25, 18.5)

In [75]:
np.std(fan_percent, ddof=1) / np.sqrt(len(fan_percent))

3.944933459514875

I would guess somewhere between 12% - 20%